.centerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteEl {
  display: flex;
  right: -200px;
}

.quoteEl h5 {
  font-family: Snell Roundhand, cursive;
  color: #495867;
  font-display: right;
  padding-right: 15px;
}

.quoteEl img {
  width: 100%;
  height: auto;
  padding-right: 15px;
}
