.centerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteEl {
  display: flex;
}

.quoteEl h5 {
  font-family: Snell Roundhand, cursive;
  color: #495867;
  font-display: right;
  padding-right: 15px;
}

.quoteEl img {
  width: 100%;
  height: auto;
  padding-right: 15px;
  /* border: 3px solid #b5838d; */
  box-shadow: 5px 10px 12px #b5838d;
}
